html {
	display: grid;
	place-items: center;
}

body {
	width: 375px;
}

fieldset,
table {
	margin-bottom: 2rem;
}

label,
input {
	cursor: pointer;
}

label {
	display: flex;
	align-items: start;
}

.radio-group {
	display: flex;

	> * {
		flex: 1;
	}
}

table {
	width: 100%;
}

th,
td {
	border: 1px solid black;
}
